<!DOCTYPE html>
<html>
<head>
    <base href="<%= htmlWebpackPlugin.options.publicDir %>">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/bootstrap.min.css">
</head>
<body>
    <div id="container"></div>
</body>
</html>