.btn {
	font-family: SB-Sans-Medium;
	font-size: 1.125em;
	padding: 0.5rem 1rem;
}

.btn-primary {
	background: #ee7023;
	border-color: #ee7023;

	&:not(:disabled):not(.disabled):active {
		background: #ee7023;
		border-color: #ee7023;
	}

	&:hover {
		background: #f35b1c;
		border-color: #f35b1c;
	}


	&:focus, &:not(:disabled):not(.disabled):active:focus {
    	box-shadow: none;
	}
}
