.form-content {
	background: #fff;
	padding: 20px;
	font-size: 14px;

	@include respond-to(md) {
		font-size: 16px;
	}

	.req {
		color: #c15d54;
	}

	.invalid-feedback {
		display: block;
		font-size: 100%;
		margin-top: 0;
	}

	.title-field {
		@include respond-to(sm) {
			text-align: right;
		}

		label {
			margin-bottom: 2rem;
		}
	}
}

.form-button-bar {
	background: #f8f8f8;
	padding: 20px;
}

.form-steps {
	background: rgba(#fff, 0.6);
	overflow: hidden;
	counter-reset: step;
	padding: 20px;
	margin: 0;

	li {
		list-style-type: none;
		color: white;
		width: 25%;
		float: left;
		position: relative;
		letter-spacing: 1px;

		&:before {
			content: counter(step);
			counter-increment: step;
			width: 34px;
			height: 34px;
			line-height: 34px;
			display: block;
			font-size: 18px;
			color: white;
			background: #d4c4bc;
			border-radius: 25px;
			margin: 0 auto;
			text-align: center;
			font-family: SB-Headline-Black;

			@include respond-to(md) {
				margin-bottom: 10px;
			}
		}

		&:after {
			content: "";
			width: 100%;
			height: 2px;
			background: #d4c4bc;
			position: absolute;
			left: -50%;
			top: 16px;
			z-index: -1;
		}

		&:first-child:after {
			content: none;
		}

		&.active {
			&:before {
				background: #fdc129;
			}
		}

		&.passed {
			cursor: pointer;

			&:before {
				background-color: #9c6;
				background-image: none, url($publicPath + "img/sprite.svg");
				background-position: -603px -33px;
				content: "";
				transition: all 0.2s ease-out;
			}

			&:hover {
				&:before {
					background-color: darken(#9c6, 20%);
				}

				span {
					text-decoration: underline;
				}
			}
		}

		&.allowed {
			cursor: pointer;

			&:before {
				transition: all 0.2s ease-out;
			}

			&:hover {
				&:before {
					background-color: darken(#d4c4bc, 20%);
				}

				span {
					text-decoration: underline;
				}
			}
		}

		&.active,
		&.passed,
		&.allowed {
			span {
				color: #257886;
			}
		}

		span {
			display: none;
			text-align: center;
			color: #d4c4bc;

			@include respond-to(md) {
				display: block;
			}
		}
	}
}

.slider-row {
	margin-bottom: 4rem;
}

.errorMsg {
	border: 1px solid #e2898d;
	background-color: #f9ded3;

	line-height: 18px;
	position: relative;
	position: relative;
	padding: 10px 30px 10px 55px;
	border-radius: 0;
	min-height: 18px;

	&:before {
		content: "";
		top: 0;
		left: 0;
		width: 43px;
		height: 38px;
		position: absolute;
		background-image: url($publicPath + "img/sprite.svg");
		background-position: -1000px -40px;
		z-index: 1;
	}
}

.summary {
	padding: 20px;
	background-color: #fff;

	.cell {
		width: 100%;
	}

	.cell {
		padding: 10px;
		border-bottom: 1px solid #dedede;
		overflow: hiddden;
		@include respond-to(md) {
			float: left;
			width: 50%;
		}
	}

	.cell + .cell-result {
		border-top: 1px solid #fff;
		margin-top: -1px;
		padding-top: 0px;

		@include respond-to(md) {
			padding-top: 10px;
			border-top: none;
			margin-top: 0;
		}
	}

	.cell-full {
		width: 100%;
	}

	.cell-result {
		font-family: SB-Headline-Bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.cell-header {
		width: 100%;
		padding-top: 1.7rem;
		padding-bottom: 0.7rem;

		h4 {
			margin-bottom: 0;
		}
	}
}
