input[type="radio"] {
	position: relative !important;
	font-size: 11px;
	width: 10px;
	height: 10px;
	margin: 5px;

	&:before {
		content: "";
		display: block;
		position: absolute;
		border: 1px solid #dedede;
		border-radius: 50%;
		background-color: #fff;
		width: 20px;
		height: 20px;
		top: -5px;
		left: -5px;
	}

	&:checked {
		&:before {
			border: 1px solid #f35b1c;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			border-radius: 50%;
			background-color: #f35b1c;
			width: 12px;
			height: 12px;
			top: -1px;
			left: -1px;
		}
	}
}

label {
	&.radio-label {
		display: flex;

		input[type="radio"] {
			display: flex;
		}

		input[type="radio"] + span {
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding-left: 7px;
		}
	}
}
