ul {
	list-style: none;
	padding: 0;

	& > li {
		margin: 7px 0 0;
		position: relative;
		padding-left: 15px;

		&:before {
			content: "";
			background-image: none;
			width: 8px;
			height: 14px;
			position: absolute;
			top: 5px;
			left: 0;
			text-align: center;
			background: #ee7023;
			border-radius: 0 12px 12px 0;
			-moz-border-radius: 0 12px 12px 0;
			-webkit-border-radius: 0 12px 12px 0;
		}
	}
}
