@import "./mixins.scss";
@import "./typography.scss";
@import "./buttons.scss";
@import "./lists.scss";
@import "./inputs.scss";
@import "./form.scss";
@import "./rangeslider.scss";

body {
	background: #fbf2ea;
	padding-top: 15px;
	padding-bottom: 15px;
}

html,
body {
	overflow-x: hidden;
}

.container-fluid {
	max-width: 1200px;
}
