.input-range__slider {
    appearance: none;
    background: #ee7023;
    border: 1px solid #ee7023;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 26px;
    margin-left: -13px;
    margin-top: -17px;
    outline: none;
    position: absolute;
    top: 50%;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    width: 26px;
}
.input-range__slider:active {
    transform: scale(1.05);
}
.input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}
.input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    transform: none;
}

.input-range__slider-container {
    transition: left 0.2s ease-out;
}

.input-range__label {
    color: #aaaaaa;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    transform: translateZ(0);
    white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
    bottom: -1.4rem;
    position: absolute;
    color: #a38b80;
    font-size: 15px;
}

.input-range__label--min {
    left: 0;
}

.input-range__label--max {
    right: 0;
}

.input-range__label--value {
    position: absolute;
    top: -40px;
    font-family: SB-Headline-Black;
    font-size: 16px;
    color: #f35b1c;
}

.input-range__label-container {
    left: -50%;
    position: relative;
}

.input-range__label--min .input-range__label-container {
    left: 0%;
}

.input-range__label--max .input-range__label-container {
    left: 0%;
}

.input-range__track {
    background: #eeeeee;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    height: 8px;
    position: relative;
    transition: left 0.2s ease-out, width 0.2s ease-out;
}
.input-range--disabled .input-range__track {
    background: #eeeeee;
}

.input-range__track--background {
    left: 0;
    margin-top: -4px;
    position: absolute;
    right: 0;
    top: 50%;
}

.input-range__track--active {
    background: #ee7023;
}

.input-range {
    height: 30px;
    position: relative;
    width: 100%;
}
