@include font-face(SB-Headline-Bold, $publicPath + style/webfonts/SwedbankHeadline-Bold , null, null);
@include font-face(SB-Headline-Black, $publicPath + style/webfonts/SwedbankHeadline-Black, null, null);
@include font-face(SB-Sans-Bold, $publicPath + style/webfonts/SwedbankSans-Bold, null, null);
@include font-face(SB-Sans-Medium, $publicPath + style/webfonts/SwedbankSans-Medium, null, null);
@include font-face(SB-Sans-Regular, $publicPath + style/webfonts/SwedbankSans-Medium, null, null);

body {
	-webkit-font-smoothing: antialiased;
	font-family: -apple-system, Helvetica, Arial, sans-serif;
	color: #512b2b;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: SB-Headline-Black;
	border: none;

	&.primary {
		color: #f35b1c;
	}
}

a {
	color: #257886;
	&:hover {
		color: #257886;
	}
}

h1 {
	font-size: 2rem;
	@include respond-to(sm) {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 1.75rem;
	@include respond-to(sm) {
		font-size: 2rem;
	}
}

h3 {
	font-size: 1.4rem;
	@include respond-to(sm) {
		font-size: 1.75rem;
	}
}

h4 {
	font-size: 1.3rem;
	@include respond-to(sm) {
		font-size: 1.5rem;
	}
}
