@font-face {
  font-family: "SB-Headline-Bold";
  src: url("/tmp/swed/style/webfonts/SwedbankHeadline-Bold.eot?") format("eot"), url("/tmp/swed/style/webfonts/SwedbankHeadline-Bold.woff") format("woff"), url("/tmp/swed/style/webfonts/SwedbankHeadline-Bold.ttf") format("truetype"), url("/tmp/swed/style/webfonts/SwedbankHeadline-Bold.svg#SB-Headline-Bold") format("svg"); }

@font-face {
  font-family: "SB-Headline-Black";
  src: url("/tmp/swed/style/webfonts/SwedbankHeadline-Black.eot?") format("eot"), url("/tmp/swed/style/webfonts/SwedbankHeadline-Black.woff") format("woff"), url("/tmp/swed/style/webfonts/SwedbankHeadline-Black.ttf") format("truetype"), url("/tmp/swed/style/webfonts/SwedbankHeadline-Black.svg#SB-Headline-Black") format("svg"); }

@font-face {
  font-family: "SB-Sans-Bold";
  src: url("/tmp/swed/style/webfonts/SwedbankSans-Bold.eot?") format("eot"), url("/tmp/swed/style/webfonts/SwedbankSans-Bold.woff") format("woff"), url("/tmp/swed/style/webfonts/SwedbankSans-Bold.ttf") format("truetype"), url("/tmp/swed/style/webfonts/SwedbankSans-Bold.svg#SB-Sans-Bold") format("svg"); }

@font-face {
  font-family: "SB-Sans-Medium";
  src: url("/tmp/swed/style/webfonts/SwedbankSans-Medium.eot?") format("eot"), url("/tmp/swed/style/webfonts/SwedbankSans-Medium.woff") format("woff"), url("/tmp/swed/style/webfonts/SwedbankSans-Medium.ttf") format("truetype"), url("/tmp/swed/style/webfonts/SwedbankSans-Medium.svg#SB-Sans-Medium") format("svg"); }

@font-face {
  font-family: "SB-Sans-Regular";
  src: url("/tmp/swed/style/webfonts/SwedbankSans-Medium.eot?") format("eot"), url("/tmp/swed/style/webfonts/SwedbankSans-Medium.woff") format("woff"), url("/tmp/swed/style/webfonts/SwedbankSans-Medium.ttf") format("truetype"), url("/tmp/swed/style/webfonts/SwedbankSans-Medium.svg#SB-Sans-Regular") format("svg"); }

body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  color: #512b2b; }

h1,
h2,
h3,
h4,
h5 {
  font-family: SB-Headline-Black;
  border: none; }
  h1.primary,
  h2.primary,
  h3.primary,
  h4.primary,
  h5.primary {
    color: #f35b1c; }

a {
  color: #257886; }
  a:hover {
    color: #257886; }

h1 {
  font-size: 2rem; }
  @media (min-width: 576px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: 1.75rem; }
  @media (min-width: 576px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 1.4rem; }
  @media (min-width: 576px) {
    h3 {
      font-size: 1.75rem; } }

h4 {
  font-size: 1.3rem; }
  @media (min-width: 576px) {
    h4 {
      font-size: 1.5rem; } }

.btn {
  font-family: SB-Sans-Medium;
  font-size: 1.125em;
  padding: 0.5rem 1rem; }

.btn-primary {
  background: #ee7023;
  border-color: #ee7023; }
  .btn-primary:not(:disabled):not(.disabled):active {
    background: #ee7023;
    border-color: #ee7023; }
  .btn-primary:hover {
    background: #f35b1c;
    border-color: #f35b1c; }
  .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none; }

ul {
  list-style: none;
  padding: 0; }
  ul > li {
    margin: 7px 0 0;
    position: relative;
    padding-left: 15px; }
    ul > li:before {
      content: "";
      background-image: none;
      width: 8px;
      height: 14px;
      position: absolute;
      top: 5px;
      left: 0;
      text-align: center;
      background: #ee7023;
      border-radius: 0 12px 12px 0;
      -moz-border-radius: 0 12px 12px 0;
      -webkit-border-radius: 0 12px 12px 0; }

input[type="radio"] {
  position: relative !important;
  font-size: 11px;
  width: 10px;
  height: 10px;
  margin: 5px; }
  input[type="radio"]:before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #dedede;
    border-radius: 50%;
    background-color: #fff;
    width: 20px;
    height: 20px;
    top: -5px;
    left: -5px; }
  input[type="radio"]:checked:before {
    border: 1px solid #f35b1c; }
  input[type="radio"]:checked::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: #f35b1c;
    width: 12px;
    height: 12px;
    top: -1px;
    left: -1px; }

label.radio-label {
  display: flex; }
  label.radio-label input[type="radio"] {
    display: flex; }
  label.radio-label input[type="radio"] + span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 7px; }

.form-content {
  background: #fff;
  padding: 20px;
  font-size: 14px; }
  @media (min-width: 768px) {
    .form-content {
      font-size: 16px; } }
  .form-content .req {
    color: #c15d54; }
  .form-content .invalid-feedback {
    display: block;
    font-size: 100%;
    margin-top: 0; }
  @media (min-width: 576px) {
    .form-content .title-field {
      text-align: right; } }
  .form-content .title-field label {
    margin-bottom: 2rem; }

.form-button-bar {
  background: #f8f8f8;
  padding: 20px; }

.form-steps {
  background: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  counter-reset: step;
  padding: 20px;
  margin: 0; }
  .form-steps li {
    list-style-type: none;
    color: white;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px; }
    .form-steps li:before {
      content: counter(step);
      counter-increment: step;
      width: 34px;
      height: 34px;
      line-height: 34px;
      display: block;
      font-size: 18px;
      color: white;
      background: #d4c4bc;
      border-radius: 25px;
      margin: 0 auto;
      text-align: center;
      font-family: SB-Headline-Black; }
      @media (min-width: 768px) {
        .form-steps li:before {
          margin-bottom: 10px; } }
    .form-steps li:after {
      content: "";
      width: 100%;
      height: 2px;
      background: #d4c4bc;
      position: absolute;
      left: -50%;
      top: 16px;
      z-index: -1; }
    .form-steps li:first-child:after {
      content: none; }
    .form-steps li.active:before {
      background: #fdc129; }
    .form-steps li.passed {
      cursor: pointer; }
      .form-steps li.passed:before {
        background-color: #9c6;
        background-image: none, url("/tmp/swed/img/sprite.svg");
        background-position: -603px -33px;
        content: "";
        transition: all 0.2s ease-out; }
      .form-steps li.passed:hover:before {
        background-color: #669933; }
      .form-steps li.passed:hover span {
        text-decoration: underline; }
    .form-steps li.allowed {
      cursor: pointer; }
      .form-steps li.allowed:before {
        transition: all 0.2s ease-out; }
      .form-steps li.allowed:hover:before {
        background-color: #ac8d7e; }
      .form-steps li.allowed:hover span {
        text-decoration: underline; }
    .form-steps li.active span, .form-steps li.passed span, .form-steps li.allowed span {
      color: #257886; }
    .form-steps li span {
      display: none;
      text-align: center;
      color: #d4c4bc; }
      @media (min-width: 768px) {
        .form-steps li span {
          display: block; } }

.slider-row {
  margin-bottom: 4rem; }

.errorMsg {
  border: 1px solid #e2898d;
  background-color: #f9ded3;
  line-height: 18px;
  position: relative;
  position: relative;
  padding: 10px 30px 10px 55px;
  border-radius: 0;
  min-height: 18px; }
  .errorMsg:before {
    content: "";
    top: 0;
    left: 0;
    width: 43px;
    height: 38px;
    position: absolute;
    background-image: url("/tmp/swed/img/sprite.svg");
    background-position: -1000px -40px;
    z-index: 1; }

.summary {
  padding: 20px;
  background-color: #fff; }
  .summary .cell {
    width: 100%; }
  .summary .cell {
    padding: 10px;
    border-bottom: 1px solid #dedede;
    overflow: hiddden; }
    @media (min-width: 768px) {
      .summary .cell {
        float: left;
        width: 50%; } }
  .summary .cell + .cell-result {
    border-top: 1px solid #fff;
    margin-top: -1px;
    padding-top: 0px; }
    @media (min-width: 768px) {
      .summary .cell + .cell-result {
        padding-top: 10px;
        border-top: none;
        margin-top: 0; } }
  .summary .cell-full {
    width: 100%; }
  .summary .cell-result {
    font-family: SB-Headline-Bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .summary .cell-header {
    width: 100%;
    padding-top: 1.7rem;
    padding-bottom: 0.7rem; }
    .summary .cell-header h4 {
      margin-bottom: 0; }

.input-range__slider {
  appearance: none;
  background: #ee7023;
  border: 1px solid #ee7023;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 26px;
  margin-left: -13px;
  margin-top: -17px;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  width: 26px; }

.input-range__slider:active {
  transform: scale(1.05); }

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }

.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none; }

.input-range__slider-container {
  transition: left 0.2s ease-out; }

.input-range__label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
  color: #a38b80;
  font-size: 15px; }

.input-range__label--min {
  left: 0; }

.input-range__label--max {
  right: 0; }

.input-range__label--value {
  position: absolute;
  top: -40px;
  font-family: SB-Headline-Black;
  font-size: 16px;
  color: #f35b1c; }

.input-range__label-container {
  left: -50%;
  position: relative; }

.input-range__label--min .input-range__label-container {
  left: 0%; }

.input-range__label--max .input-range__label-container {
  left: 0%; }

.input-range__track {
  background: #eeeeee;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  height: 8px;
  position: relative;
  transition: left 0.2s ease-out, width 0.2s ease-out; }

.input-range--disabled .input-range__track {
  background: #eeeeee; }

.input-range__track--background {
  left: 0;
  margin-top: -4px;
  position: absolute;
  right: 0;
  top: 50%; }

.input-range__track--active {
  background: #ee7023; }

.input-range {
  height: 30px;
  position: relative;
  width: 100%; }

body {
  background: #fbf2ea;
  padding-top: 15px;
  padding-bottom: 15px; }

html,
body {
  overflow-x: hidden; }

.container-fluid {
  max-width: 1200px; }

